# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Credentials files
config/passwords.yaml
config/google_client_secret.json
config/firebase_service_account_key.json

# static app files
web/app
