[Desktop Entry]
Version=1.0
Type=Application

Name=Systemd Status
Comment=Systemd Status
Categories=Utility;

Icon=de.skycoder42.systemdStatusClient
Exec=systemd_status_client
Terminal=false
StartupWMClass=systemd_status_client
