[Desktop Entry]
Version=1.0
Type=Application

Name=Systemd Status
Comment=Systemd Status
Categories=Utility;

Icon=de.skycoder42.systemdStatusFlutter
Exec=systemd_status_flutter
Terminal=false
StartupWMClass=systemd_status_flutter
